
*.db
*.vsidx
*.bin
/TranslatorFromAssembly/TranslatorFromAssembly/bin
/TranslatorFromAssembly/TranslatorFromAssembly/obj
/TranslatorFromAssembly/TranslatorLibrary/obj
/TranslatorFromAssembly/TranslatorLibrary/bin
/TranslatorFromAssembly/TranslatorFromAssembly/obj
/TranslatorFromAssembly/TranslatorFromAssembly/obj
/TranslatorFromAssembly/TranslatorFromAssembly/obj
/TranslatorFromAssembly/TranslatorFromAssembly/obj/Debug
/TranslatorFromAssembly/.vs
/TranslatorFromAssembly/.vs
/TranslatorFromAssembly/TranslatorFromAssembly/obj
