
*.db
*.vsidx
*.bin
/TranslatorFromAssembly/TranslatorFromAssembly/bin
/TranslatorFromAssembly/TranslatorFromAssembly/obj
/TranslatorFromAssembly/TranslatorLibrary/bin
/TranslatorFromAssembly/.vs
/TranslatorFromAssembly/TranslatorLibrary/obj
/TranslatorFromAssembly/TranslatorFromAssembly/Properties
/TranslatorFromAssembly/HjsonForamt/obj
/TranslatorFromAssembly/HjsonForamt/bin
