
*.db
*.vsidx
*.bin
/TranslatorFromAssembly/TranslatorFromAssembly/bin
/TranslatorFromAssembly/TranslatorFromAssembly/obj
/TranslatorFromAssembly/TranslatorLibrary/obj
/TranslatorFromAssembly/TranslatorLibrary/bin
/TranslatorFromAssembly/TranslatorFromAssembly/obj
/TranslatorFromAssembly/TranslatorFromAssembly/obj
/TranslatorFromAssembly/TranslatorFromAssembly/obj
/TranslatorFromAssembly/TranslatorFromAssembly/obj/Debug
/TranslatorFromAssembly/.vs
/TranslatorFromAssembly/.vs
/TranslatorFromAssembly/TranslatorFromAssembly/obj
/TranslatorFromAssembly/TranslatorFromAssembly/obj
/TranslatorFromAssembly/.vs
/TranslatorFromAssembly/.vs
/TranslatorFromAssembly/TranslatorLibrary/obj
/TranslatorFromAssembly/.vs
TranslatorFromAssembly/TranslatorLibrary/obj/Debug/net8.0/TranslatorLibrary.assets.cache
TranslatorFromAssembly/TranslatorLibrary/obj/Debug/net8.0/TranslatorLibrary.csproj.FileListAbsolute.txt
TranslatorFromAssembly/TranslatorFromAssembly/obj/Debug/net8.0/TranslatorFromAssembly.csproj.FileListAbsolute.txt
TranslatorFromAssembly/TranslatorFromAssembly/obj/Debug/net8.0/TranslatorFromAssembly.assets.cache
TranslatorFromAssembly/TranslatorFromAssembly/obj/Debug/net8.0/apphost.exe
